
@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/HarmoniaSansProCyr-Bold.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
       url('../fonts/HarmoniaSansProCyr-Bold.ttf')  format('truetype'), url('HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HarmoniaSansProCyr-Italic';
  src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-Italic.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'), 
       url('../fonts/HarmoniaSansProCyr-Italic.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-Regular.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), 
       url('../fonts/HarmoniaSansProCyr-Regular.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HarmoniaSansProCyr-Black';
  src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-Black.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
       url('../fonts/HarmoniaSansProCyr-Black.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-SemiBd.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), 
       url('../fonts/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'HarmoniaSansProCyr-Bold', sans-serif;
    color: #43525d;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
    text-decoration: none;
}

.navbar-toggler {
  display: none;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.col-2, .col-3, .col-4, .col-6, .col-7 {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 40%;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.text-center {
  text-align: center;
} 

.text-right {
    text-align: right;
}

.row {
  margin: 0 -15px;
}

.decor {
  text-align: center;
  background: #fff;
  padding: 20px;
}

.product .decor {
  width: 96.5%;
}

/*footer-section*/

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'HarmoniaSansProCyr-Regular', sans-serif;
    color: #35404c;
    font-size: 14px;
}

.footer-left {
   margin-bottom: 17px;
}

.footer-left .logo {
   margin-bottom: 17px;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 67%;
}

.footer-right ul {
  list-style-type: disc;
  padding: 0 15px;
  margin-bottom: 15px;
}

.footer-right ul li {
  margin-bottom: 13px;
}

a {
    color: #44525e;
}

.footer-right ul li a {
  color: #35404c;
}

.footer-right ul li:hover a {
  color: #ff884b;
}

.footer-right ul li:hover {
  color: #ff884b;
}

.footer-right .payment-method {
  padding-top: 8px;
}

.payment-method span {
  display: block;
  margin-bottom: 18px;
}

.payment-method .cards {
  display: flex;
  list-style: none;
  margin: 0 -15px;
}

.payment-method .cards li {
  padding-right: 9px;
}

.payment-method .cards a {
  background: url('../images/sprites.png') no-repeat -356px 0;
  width: 27px;
  height: 19px;
  top: 0;
  left: 0;
  display: block;
}

.payment-method .cards a.br {
  background-position: -391px 0;
}

.payment-method .cards a.visa {
  background-position: -427px 0;
}

.payment-method .cards a.master {
  background-position: -463px 0;
}
.payment-method .cards a.grey {
  background-position: -499px 0;
}

@media (max-width: 600px) {
   .footer-section {
       justify-content: center;
   }
   .footer-left,
   .footer-right {
      width: 90%;
      justify-content: space-between;
   }
}
