
@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/HarmoniaSansProCyr-Bold.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
       url('../fonts/HarmoniaSansProCyr-Bold.ttf')  format('truetype'), url('HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-Regular.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), 
       url('../fonts/HarmoniaSansProCyr-Regular.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HarmoniaSansProCyr-Black';
  src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-Black.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
       url('../fonts/HarmoniaSansProCyr-Black.ttf')  format('truetype'), url('HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/HarmoniaSansProCyr-SemiBd.otf')  format('opentype'),
       url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), 
       url('../fonts/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'),
       url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'HarmoniaSansProCyr-Bold', sans-serif;
    color: #43525d;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   
}

a {
    text-decoration: none;
}

.navbar-toggler {
  display: none;
}


.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.col-2, .col-3, .col-4, .col-6, .col-7 {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 40%;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.text-center {
  text-align: center;
} 

.text-right {
    text-align: right;
}

.row {
  margin: 0 -15px;
}

