.card {
    font-family: 'HarmoniaSansProCyr-Bold', sans-serif;
}

.card-image {
	margin-bottom: 30px;
}

.card-image img {
    display: block;
    width: 100%;
}

.card-product-hover .card-body {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
    justify-content: center;
}

.card-new-arrivals-item {
	margin-bottom: 25px;
    padding: 0 15px;
    width: 25%;
}

.product .card-new-arrivals-item {
	width: 33.33%;
}

.card-item {
	background: #fff;
    height: 368px;
    padding: 30px 40px;
    text-align: center;
    width: 100%;
}

.card-new-arrivals-item .card-image img {
    height: 100%;
    width: auto;
}

.card-title {
    color: #43525e;
    font-size: 18px;
    text-align: center;
    margin-bottom: 23px;
}

.card-title-hover {
	color: #ff7013;
	padding-bottom: 30px;
}

.card-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-bottom .list-options {
      display: flex;
      justify-content: center;
}

.list-options li {
    padding: 0 15px;
}

.list-options li a {
	width: 23px;
	height: 21px;
	display: block;
	background: url("../images/sprites.png") no-repeat 0 -38px;
}

.list-options li .basket2 {
	background-position: -47px -34px;
}


.list-options li .liked {
	background-position: -102px -38px;
}

.list-colors {
    display: flex;
    justify-content: center;
    margin: 0 -4px 30px;
}

.list-colors ul {
	display: flex;
}

.list-colors ul li {
	padding: 2px;
}

.list-colors ul li a {
	width: 13px;
	height: 13px;
	border-radius: 5px;
	background: #e94650;
	display: block;
}

.list-colors ul li .dark-blue {
	background: #43525d;
}

.list-colors ul li .blue {
	background: #44c1ff;
}

.list-colors ul li .green {
	background: #2fdc7a;
}

.card-price {
   font-weight: bold;
}

.card-product-hover {
	display: none;
}

.card-product-hover {
    -webkit-box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
    -moz-box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
     box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
     text-align: center;
     width: 100%;
      transition: all 0.2s ease 0s;
}

.card-product-hover .card-body {
	border-bottom: 1px solid #ccc;
}

.list-sizes {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15%;
	text-align: center;
	justify-content: center;
}

.list-sizes .size {
	padding-right: 22px;
}

.list-sizes ul {
	display: flex;
	margin: 0 -15px;
}

/*hover*/
.arrivals-item-first:hover .first-card {
	display: none;
}

.arrivals-item-first:hover .first-card-hover {
	display: block;
}

.arrivals-item-second:hover .second-card {
	display: none;
}

.arrivals-item-second:hover .second-card-hover {
	display: block;
}

.arrivals-item-third:hover .third-card {
	display: none;
}

.arrivals-item-third:hover .third-card-hover {
	display: block;
}

.arrivals-item-fourth:hover .fourth-card{
	display: none;
}

.arrivals-item-fourth:hover .fourth-card-hover {
	display: block;
}

/*card-secondary */
.list-card-secondary {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 10%;
   justify-content: center;
}

.card-secondary {
    padding: 0 15px;
    width: 33.33%;
    margin-bottom: 25px;
}
  
.card-item-secondary {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    height: 166px;
    justify-content: space-between;
    padding: 23px 31px;
 }

.card-secondary .card-right {
    display: flex;
    flex-flow: column wrap;
    padding-left: 16%;
    margin-left: 10%;
    border-left: 1px solid #f7f7f8; 
    width: 100%;
}

 .card-secondary .card-body {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }

 .card-secondary .card-image {
     margin-bottom: 0;
 }

 .card-item-secondary .card-title-secondary {
 	margin-bottom:26px;
 }

/*card-secondary-hover */ 

/*secondary hover*/
   .secondary-first-hover {
   	  display: none;
   }

 .card-secondary-first:hover .secondary-first {
 	display: none;

 }

  .card-secondary-first:hover .secondary-first-hover {
  	 display: block;
  }

/*second slider*/

.second-slider .slick-prev:before,
.second-slider .slick-next:before {
    content: "";
}
.second-slider .slick-dots {  
     background: #fff none repeat scroll 0 0;
     margin: -103px 0 -107px 0;
     padding: 17px 0;
}

.second-slider .slick-dots li button::before {
	  color: orange;
	  font-size: 10px;
}

.second-slider .slick-dots li.slick-active button::before {
    color: orange;
}

.light-blue {
   background: #f6f8f9;
}

.arrivals-secondary .secondary-item {
     height: auto;
     display: flex;
}

@media (max-width: 1135px) {
    .container {
		padding: 0 2%;
	}
	.card-new-arrivals-item {
	width: 33.33%;
   }
    .card-secondary {
   	width: 50%;
   }
   .product .card-new-arrivals-item {
	width: 50%;
   }
}

@media (max-width: 768px) {
	.card-new-arrivals-item {
	width: 50%;
   }
    .product .card-new-arrivals-item {
	width: 80%;
   }
  
}

@media (max-width: 600px) {
	.card-list {
		justify-content: center;
	}
	.card-new-arrivals-item {
	width: 60%;
   }
    .card-secondary {
   	width: 60%;
   }
}

@media (max-width: 500px) {
	.card-new-arrivals-item {
	   width: 80%;
   }
    .card-secondary {
   	   width: 90%;
   }
    .product .card-new-arrivals-item {
	width: 100%;
   }
  

}



/*

.card-icon {}
.card-title {}
.card-content {}
.card-description {}

.card-header {}
.card-body {}
.card-footer {}
.card-hover {}

.card-top {}
.card-right {}
.card-left {}
.card-bottom {}

.card:hover .card-hover {}