a {
	font-size: 14px;
	color: red;
}
.card {
    font-family: 'HarmoniaSansProCyr-Bold', sans-serif;
}

.card-image img {
    display: block;
    width: 100%;
}

.list-cards-new-arrivals {
	display: flex;
	justify-content: center;
	margin: 0 -15px;
}

.card-new-arrivals-item {
	padding: 0 15px;
	display: flex;
	width: 25%;
}

.card-item {
	background: #fff;
    height: 368px;
    padding: 30px 50px;
    text-align: center;
}

.card-new-arrivals-item .card-image img {
    height: 100%;
    width: auto;
}

.card-title {
    color: #43525e;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.card-title-hover {
	color: #ff7013;
	padding-bottom: 30px;
}

.card-header {
   display: flex;
   justify-content: center;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.card-bottom {
	display: flex;
	justify-content: center;
}

.card-bottom .list-options {
      display: flex;
      padding: 30px 0;
     text-align: center;
}

.list-colors {
	display: flex;
	margin: 0 -4px 30px;
}

.list-colors ul {
	display: flex;
}

.list-colors ul li {
	padding: 2px;
}

.list-colors ul li a {
	width: 13px;
	height: 13px;
	border-radius: 5px;
	background: #e94650;
	display: block;
}

.list-colors ul li .dark-blue {
	background: #43525d;
}

.list-colors ul li .blue {
	background: #44c1ff;
}

.list-colors ul li .green {
	background: #2fdc7a;
}

.card-price {
   font-weight: bold;
}

.card-product-hover {
	display: none;
}

.card-product-hover {
    -webkit-box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
    -moz-box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
     box-shadow: -6px 1px 60px -26px rgba(67,81,93,1);
     text-align: center;
}

.card-product-hover .card-body {
	border-bottom: 1px solid #ccc;
}

.list-sizes {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	text-align: center;
}

.list-sizes .size {
	padding-right: 5px;
}

.list-sizes ul {
	display: flex;
}


.list-options li {
	padding-right: 5px;
}

.list-options li a {
	width: 23px;
	height: 21px;
	display: block;
	background: url("../images/sprites.png") no-repeat 0 -38px;
}

.list-options li .basket2 {
	background-position: -47px -34px;
}


.list-options li .liked {
	background-position: -102px -38px;
}

/*hover*/
.arrivals-item-first:hover .first-card {
	display: none;
}

.arrivals-item-first:hover .first-card-hover {
	display: block;
}

.arrivals-item-second:hover .second-card {
	display: none;
}

.arrivals-item-second:hover .second-card-hover {
	display: block;
}

.arrivals-item-third:hover .third-card {
	display: none;
}

.arrivals-item-third:hover .third-card-hover {
	display: block;
}

.arrivals-item-fourth:hover .fourth-card{
	display: none;
}

.arrivals-item-fourth:hover .fourth-card-hover {
	display: block;
}

.card-bottom {
	display: flex;
}

/*card-secondary */
.list-card-secondary {
   display: flex;
}

.list-stars ul li {
	display: inline-flex;
}

.card-secondary {
    padding: 0 15px;
    width: 33.33%;
}
  
.card-item-secondary {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    height: 166px;
    justify-content: space-between;
    padding: 32px 25px;
 }

.card-secondary .card-right {
    display: flex;
    flex-flow: column wrap;
    padding-left: 9%;
    width: 100%;
}

 .card-secondary .card-body {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: center;
 }

 .card-secondary .card-image {
 	 padding-right: 30px; 
     border-right: 1px solid #f7f7f8;
 }

/*card-secondary-hover */ 

/*secondary hover*/
   .secondary-first-hover {
   	  display: none;
   }

 .card-secondary-first:hover .secondary-first {
 	display: none;

 }

  .card-secondary-first:hover .secondary-first-hover {
  	 display: block;
  }



/*second slider*/

.second-slider .slick-prev:before,
.second-slider .slick-next:before {
    content: "";
}
.second-slider .slick-dots {  
     background: #fff none repeat scroll 0 0;
     margin: -103px 0 -107px 0;
     padding: 17px 0;
}

.second-slider .slick-dots li button::before {
	  color: orange;
	  font-size: 10px;
}

.second-slider .slick-dots li.slick-active button::before {
    color: orange;
}

.light-blue {
   background: #f6f8f9;
}

.arrivals-secondary .secondary-item {
     height: auto;
     display: flex;
}

@media (max-width: 1168px) {
	.card-new-arrivals-item {
	     width: 50%;
   }
 }


/*

.card-icon {}
.card-title {}
.card-content {}
.card-description {}

.card-header {}
.card-body {}
.card-footer {}
.card-hover {}

.card-top {}
.card-right {}
.card-left {}
.card-bottom {}

.card:hover .card-hover {}