.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.featured {
   -webkit-background-size: 100% ;
    background-size: 100%;
    background-size: cover;
    display: block;
    height: auto;
}

.section {
   padding: 7.5% 0;
}

.section-heading {
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	margin-bottom: 6%;
}

.featured .section {
   padding-bottom:  15%;
}

.section-featured {
    padding-left: 8.5%;
    padding-top: 8%;
    position: relative;
}

.section-featured:before {
	position: absolute;
	content: "";
	display: block;
	background: url("../images/control.png") no-repeat 0 0;
    top: 53%;
    left: 0; 
    width: 10px;
    height: 88px;
}

.section-slick-product-title,
.section-title {
	color: #ff7013;
    font-family: "HarmoniaSansProCyr-Black",sans-serif;
    font-size: 52px;
    text-transform: uppercase;
}

.orange {
	color: #ff7013;
}

.blue {
	color: #43515d;
}

.section-title {
	font-size: 36px;
	line-height: 51px;
}

.section-title-description {
	color: #5b6975;
	font: 16px/48px 'HarmoniaSansProCyr-Regular', sans-serif;
	font-weight: bold;
}

/*slick*/
.section-slick-header {
     padding-bottom: 1%;
}

.section-slick-body {
     padding-bottom: 5%;
}

.section-slick-footer {
	display: flex;
}
/*
.slick .slick-dots {
    bottom: 43%;
    left: 11%;
}

.slick .slick-dots li {
    padding: 15px;
}

.slick .slick-dots li {
    display: block;
}
*/
.section-slick-product-shot-description,
.section-slick-price,
.section-slick-order {
     font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
     font-size: 18px;
     line-height: 30px;
     color: #54524f;
}

.section-slick-product-full-description {
	  font-family: 'HarmoniaSansProCyr-Regular', sans-serif;
	  font-size: 16px;
	  color: #5b6975;
	  font-weight: bold;
}

.section-slick-price {
	 color: #5b6670;
	 padding-right: 53px;
}

.section-slick-order {
	color: #ff7013;
	position: relative;
}

.section-slick-order:before {
    background: url("../images/sprites.png") no-repeat scroll -1146px -94px;
    content: "";
    display: block;
    height: 17px;
    left: -39%;
    position: absolute;
    top: 18%;
    width: 24px;
}

.new-arrivals {
    background: #f6f8f9;
}

/*section two-columns */
.column-section {
	padding-left: 15px;
	padding-right: 15px;
}
.section-two-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column-holder {
	padding: 0 15px;
	margin-bottom: 25px;
}

.section-two-columns .column {
	 background: #fff;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding-bottom: 1%;
	 padding-top: 1%;
	 border: 1px solid #edf0f1;
	 height: 100%;
}

.adv-holder {
    margin-bottom: 17px;
}

.section-two-columns .section-body {
    text-align: center;
}

.col-first {
   width: 60%;
}

.col-second {
	width: 40%;
}

.section-two-columns .img-holder {
     margin-right: 60px;
}

.section-two-columns .text-holder {
     padding-right: 36px;
     border-right: 1px solid #f7f7f8;
}

.section-two-columns .price-holder {
	padding-left: 35px;
}

.column-title {
	font-size: 22px;
	padding-right: 30px;
	text-transform: uppercase;
	color: #44525e;
	font-weight: bold;
}

.column-section .column-title {
	color: #ff7013;
	font-size: 18px;
}

.column-description {
	font-size: 12px;
	font-family: "HarmoniaSansProCyr-Italic", sans-serif;
	font-weight: bold;
}

.price-holder {
	font-size: 32px;
	font-family: 'HarmoniaSansProCyr-Black', sans-serif;
}

/*section-two-columns-second*/
.section-two-columns-second {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 34px 43px;
}

.section-two-columns-second .column {
	display: flex;
	align-items: center;
    display: inline-flex;
}

.form-holder {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.send-email {
   color: #8f99a3;
   padding: 5px;
   font-size: 12px;
   font-family: "HarmoniaSansProCyr-Italic", sans-serif;
   position: relative;
   margin-right: 50px;
}

.send-email:before {
    background: url("../images/sprites.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 12px;
    left: -32%;
    position: absolute;
    top: 20%;
    width: 18px;
    z-index: 5;
}

.size-holder {
	color: #c7cacc;
	font-family: 'HarmoniaSansProCyr-Regular', sans-serif;
	font-size: 12px;
}

/*section sidebar*/
.section-products {
	font-family: 'HarmoniaSansProCyr-Black', sans-serif;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-sidebar {
	padding: 40px;
	background: #fff;
	margin-bottom: 29px;
}

@media (max-width: 950px) {
	.section-two-columns .column-holder {
	   width: 100%;
   }
}

@media (max-width: 550px) {
   .section-two-columns .img-holder {
    margin-right: 15px;
  }
}


/*.section {}
.section-title {}
.section-header {}
.section-body {}